.container{
   
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1200px) {
    .container{
       
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 992px) {
  .container{
   
 }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 850px) {

}
.App {
  text-align: center;
}
*{
  margin: 0;
}

*{
  --Title-color--: #222222;
  --btn-color--:#FF385C;
  --text-color--:black;
  --footer-bg--: #F7F7F7;
  --para-color--: #717171;
}